<div class="fixed top-6 right-6 z-50 space-y-4 w-80">

  @for (toast of getToasts(); track trackById($index, toast)) {

    <div
      class="px-5 py-4 rounded-xl shadow-2xl text-sm font-medium
             backdrop-blur-lg border transition-all duration-300"
      [ngClass]="{
        'bg-green-500/10 border-green-400 text-green-300': toast.type === 'success',
        'bg-red-500/10 border-red-400 text-red-300': toast.type === 'error',
        'bg-blue-500/10 border-blue-400 text-blue-300': toast.type === 'info'
      }"
    >
      {{ toast.message }}
    </div>

  }

</div>
